fastapi
uvicorn
psycopg2-binary
pydantic
python-multipart
sphinx
sphinxcontrib-plantuml
sphinx-autodoc-typehints
django>=4.2,<5.2
djangorestframework
markdown
django-filter
celery
redis
environ
watchdog
openai
pre-commit
pydantic
sphynx
python-dotenv
django-storages
httpx
boto3
pytest
python-magic
neo4j
pandas
inflection
